<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/main.css">
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="{{SITEURL}}/{{URL_ENDING}}" class="navbar-brand">{{SITENAME}}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usage<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{SITEURL}}/usage/standalone/{{URL_ENDING}}">Standalone</a></li>
                <li class="divider"></li>
                <li><a href="{{SITEURL}}/usage/markdown/{{URL_ENDING}}">Markdown</a></li>
                <li><a href="{{SITEURL}}/usage/rst/{{URL_ENDING}}">reStructuredText</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{SITEURL}}/examples/markdown/{{URL_ENDING}}">Markdown</a></li>
                <li><a href="{{SITEURL}}/examples/rst/{{URL_ENDING}}">reStructuredText</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customization<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{SITEURL}}/customization/{{URL_ENDING}}">Introduction</a></li>
                <li class="divider"></li>
                <li><a href="{{SITEURL}}/customization/jinja2/{{URL_ENDING}}">Jinja2</a></li>
                <li><a href="{{SITEURL}}/customization/mustache/{{URL_ENDING}}">Mustache</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{SITEURL}}/license/{{URL_ENDING}}">License</a></li>
            <li><a href="https://github.com/pyembed/">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
